@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
#menuLabel {
    -fx-font-family: 'Urbanist', sans-serif;
    -fx-font-size: 35;
}
#totalLabel, #totalValueLabel {
    -fx-font-family: 'Urbanist', sans-serif;
    -fx-font-size: 26;
    -fx-font-weight: 400;
}
.button {
    -fx-background-color: transparent;
}
#bottomHBox {
    -fx-background-color: #052615;
}
.list-cell, .list-view {
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
#menuListView .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#menuListView .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(190, 190, 190, 0.5);
}