@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
#menuLabel {
    -fx-font-family: 'Urbanist', sans-serif;
    -fx-font-size: 35;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: 400;
    -fx-background-color: rgba(10, 44, 24, 0.9);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}
#cartBtn, #menuBtn, #favBtn, #recentBtn, #logoutBtn {
    -fx-background-color: transparent;
}
#bottomHBox {
    -fx-background-color: #052615;
}